<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace表示dao层接口路径-->
<mapper namespace="com.example.ethan.mapper.UserMapper">
    <!--根据用户名和密码查询用户-->
    <select id="queryUserByUserNameAndUserPwd" resultType="com.example.ethan.pojo.User">
        select *
        from tb_user
        WHERE userName=#{userName} and userPwd=#{userPwd};
    </select>

    <!--插入用户-->
    <insert id="insertUser" parameterType="com.example.ethan.pojo.User">
        insert into tb_user
        values (#{user.id},#{user.userName},#{user.userPwd},#{user.email},#{user.birthday});
    </insert>

    <!--根据用户名查找用户-->
    <select id="queryUserByUserName" resultType="com.example.ethan.pojo.User">
        select *
        from tb_user
        WHERE userName=#{userName};
    </select>
</mapper>